<!DOCTYPE html>
<html>
    <head>
        <title>Playing None</title>
        <style>
            audio{
                width: 100%;
            }

            form{
                padding-top: 100px
            }

            div:hover{
                border: 1px solid black;
                cursor: pointer;
            }

            div{
                padding: 10px
            }

            .center{
                margin-right: auto;
                margin-left: auto;
                width: 90%;
            }

            #formsTable{
                border: 1px solid black
            }

            #formsTable td, tr{
                border: 1px solid black;
                vertical-align: middle;
            }

        </style>
        <script>
            /*
                TODO:

                sorting songs
                counter of times played !!!
                make forms table look better
                play random song/clip

            */


            // loops

            var currentSong;
            var clipMarkers = [null, 0, 0]

            function toggleLoop(){
                var button = document.getElementById("loopToggle")
                var audios = document.getElementsByTagName("audio")

                if (button.style.backgroundColor == "red"){
                    button.style.backgroundColor = "lightgreen" // loop is toggled
                    for(audio of audios){
                        audio.loop = true
                    }
                }
                else{
                    button.style.backgroundColor = "red" // loop is untoggled
                    for(audio of audios){
                        audio.loop = false
                    }
                }

            }

            document.addEventListener('keypress', (e) => {
                if (e.key == "l"){
                    toggleLoop()
                }
            })

            // highlighting and playing song logic
            
            function playSong(audio, title){
                currentSong = audio;
                pauseAllExcept(audio)
                document.title = "Playing " + title
                audio.parentNode.style.border = "5px solid black"
            }

            function pauseAllExcept(audio){
                var audios = document.getElementsByTagName("audio")
                for(song of audios){
                    if (song != audio){
                        song.parentNode.style.border = ""
                        song.pause()
                    }
                }
            }

            function togglePlay(div){
                if(div.children[1].paused){
                    div.children[1].play()
                }
                else{
                    div.children[1].pause()
                }
            }            

            // playing next song when finished

            function playNextSong(current){
                var div = current.parentNode
                var typeDiv = div.parentNode
                var sameAudios = typeDiv.getElementsByTagName("audio")
                var lastID = sameAudios.length - 1 // cuz it starts at 0

                var nextSongId;
                if(div.id == lastID){
                    nextSongId = 0
                }
                else{
                    nextSongId = Number(div.id) + 1
                }

                console.log(nextSongId)
                for (audio of sameAudios){
                    if (Number(audio.parentNode.id) == nextSongId){
                        togglePlay(audio.parentNode)
                    }
                }
                
            }

            function pauseSong(audio){
                if(audio == currentSong){
                    document.title = "Playing None";
                    audio.parentNode.style.border = "";
                }
            }

            // removing ".mp3"

            function removeMP3(title){
                console.log(title)
                return title.split('.')[0]
            }

            // clips

            function convertMinsSeconds(){
                var thing = document.getElementById("minutes")
                var values = thing.value.split(":")
                var seconds = Number(values[0] * 60) + Number(values[1])
                document.getElementById("secondsDisplay").innerHTML = seconds
            }

            // json

            function updatePlayed(audio){
                console.log(audio.children[0]) // name
            }

        </script>

    </head>
    
    <body>

        <div style="border: 1px solid black;" name="songs">
            <h2>Songs</h2>
            {%for song in songs%}
                <div onclick="togglePlay(this)" id='{{songs.index(song)}}'>
                    <p>{{song.split('.')[0]}}</p>
                    <audio onplay="playSong(this, removeMP3('{{song}}'))" onended="playNextSong(this)" onpause="pauseSong(this)" controls>
                        <source src="{{url_for('static', filename=song)}}" type="audio/mpeg">
                    </audio>
                </div>
            {%endfor%}
        </div>
        <div style="border: 1px solid black;" name="clips">
            <h2>Clips</h2>
            {%for clip in clips%}
                <div onclick="togglePlay(this)" id='{{clips.index(clip)}}'> <!-- calling from songs instead of the next one from clips-->
                    <p>{{clip.split('.')[0]}}</p>
                    <audio onplay="playSong(this, removeMP3('{{clip}}'))" onended="playNextSong(this)" onpause="pauseSong(this)" controls>
                        <source src="{{url_for('static', filename=clip)}}" type="audio/mpeg">
                    </audio>
                </div>
            {%endfor%}
            </div>
        <br><br><br>

        <table id="formsTable" class="center">
            <tbody>
                <tr>
                    <td>
                        <input placeholder="Minutes:Seconds to Seconds" id="minutes">
                        <button onclick="convertMinsSeconds()">Convert</button>
                        <p id="secondsDisplay"></p>
                    </td>
                    <td>
                        <form method="post">
                            <input list="songsDropDown" name="song">
                                <datalist id="songsDropDown">
                                    {% for song in songs %}
                                        <option value="{{song.split('.')[0]}}">
                                    {%endfor%}
                                </datalist>
                            <input placeholder="start" name="start">
                            <input placeholder="end" name="end">
                            <input placeholder="name" name="name">
                            <button type="submit" name="btn" value="newClip">submit</button>
                        </form>
                    </td>
                </tr>
                    <td>
                        <form method="post">
                            <input placeholder="YouTube song url" name="url">
                            <input placeholder="Name" name="name">
                            <button type="submit" name="btn" value="newSong">submit</button>
                        </form>
                    </td>
                    <td>
                        <button id="loopToggle" style="background-color: red;" onclick="toggleLoop()">Loop</button>
                    </td>
            </tbody>
        </table>
    </body>
</html>